<!DOCTYPE html>
<html>
<head>
  <title>Papercat | Admin</title>
  <%= stylesheet_link_tag "papercat/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body data-content-css="<%= asset_path "application.css" %>">
<%= yield %>
<%= javascript_include_tag "papercat/application" if current_user %>
</body>
</html>
