<!DOCTYPE html>
<html>
<head>
  <title><%= @page.title %></title>
  <% @page.meta.each do |name, content| %>
  <meta name="<%= name %>" content="<%= content %>">
  <% end %>
  <%= stylesheets %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= scripts %>
</body>
</html>
